<mat-toolbar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <button mat-raised-button color="primary" class="my-2">
                    <mat-icon>add_circle_outline</mat-icon>
                    Crear
                </button>
            </div>
            <div class="col-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Buscar</mat-label>
                    <input [(ngModel)]="textoBusqueda" name="textoBusqueda" (keyup.enter)="getAll()" matInput>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-toolbar>

<div class="container-fluid my-3">
    <div class="row">
        <div class="col">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> ID </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef> Nombre </th>
                      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="apellidoPaterno">
                      <th mat-header-cell *matHeaderCellDef> Apellido paterno </th>
                      <td mat-cell *matCellDef="let element"> {{element.apellidoPaterno}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="apellidoMaterno">
                      <th mat-header-cell *matHeaderCellDef> Apellido materno </th>
                      <td mat-cell *matCellDef="let element"> {{element.apellidoMaterno}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element">
                            <button (click)="delete(element.id)" matTooltip="Eliminar Mecanico" mat-icon-button color="primary">
                                <mat-icon>delete</mat-icon>
                              </button>
                        </td>
                      </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
    
                    <mat-paginator #paginator
                        (page)="cambiarPagina($event)"
                        [length]="cantidadTotal"
                        [pageSize]="cantidadPorPagina"
                        [pageSizeOptions]="opcionesDePaginado"
                        [pageIndex]="numeroDePagina"
                        aria-label="Select page">
                    </mat-paginator>
            </div>
        </div>
    </div>
</div>