<mat-toolbar>
    <button routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span>Taller</span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    Gabriel Ventura
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>person</mat-icon>
      </button>
  </mat-toolbar>

  <router-outlet></router-outlet>