<div class="app-panel-container">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
             <mat-card>
                    <mat-icon>event_available</mat-icon>
                <p>Ingreso</p>
                </mat-card>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card>
                       <mat-icon>event_available</mat-icon>
                   <p>Mecanico</p>
                   </mat-card>
               </div>

               <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card>
                       <mat-icon>event_available</mat-icon>
                   <p>CLiente</p>
                   </mat-card>
               </div>

               <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card>
                       <mat-icon>event_available</mat-icon>
                   <p>Salida</p>
                   </mat-card>
               </div>
        </div>
    </div>
</div>
